/* container to easily style the page */
.wrapper {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
    border-width: 2px;
}

.main-wrapper {
    max-width: 1140px;
    min-height: 580px;
    width: 90%;
    margin: 0 auto;
    border-width: 2px;
    display: flex;
    flex-direction: column;
}

/* header styling which includes the timer, h1 and h2 */
header {
    height: 12vh;
    min-height: 140px;
    background-color: black;
    color: white;
}

header nav {
    display: flex;
    justify-content: flex-end;
}
header p {
    padding: 5px;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 0;
}
header h2 {
    text-align: center;
    margin: 0px 0px 10px 0px;
}

/* styling for the highscore board */
#highscores h2 {
    padding-left: 20px;
    width: 150x;
}

#highscores {
    width: 150px;
}

/* styling for the controls buttons */

.controls {
    display: flex;
    justify-content: space-between;
    height: 40px;
    position: absolute;
    right: 40%;
    width: 300px;
    padding-top: 10px;
}

#start,
#reset {
    width: 100px;
    border-radius: 10px;
}

/* styling for the questions container */

.questionCards {
    border-color: black;
    border-style: solid;
    border-radius: 1px;
    width: 400px;
    height: 400px;
    align-self: center;
} 